In [1]:
import os

import moexalgo
from moexalgo import session

session.TOKEN = os.environ['APIKEY']

Прежде были доступны только следующие таймфреймы для свечей: '1min', '10min', '1h', '1D', '1W', '1M'.

Теперь список следующий: '1min', '5min', '10min', '15min', '20min', '30min', '1h', '2h', '3h', '6h', '12h', '1D', '5D', '10D', '1W', '2W', '4W', '1M'.

In [2]:
sber = moexalgo.Ticker('SBER')
sber.candles(start="2025-01-01", end="2025-01-31", period="30min")

,begin,end,open,high,low,close,volume,value
0,2025-01-03T09:30:00,2025-01-03T09:59:59,280.00,280.00,280.00,280.00,158150,44282000
1,2025-01-03T10:00:00,2025-01-03T10:29:59,279.99,280.41,276.53,276.89,9576210,2667986360
2,2025-01-03T10:30:00,2025-01-03T10:59:59,276.89,277.73,275.20,275.80,4619740,1276620481
3,2025-01-03T11:00:00,2025-01-03T11:29:59,275.80,275.80,274.50,275.22,3834900,1054921228
4,2025-01-03T11:30:00,2025-01-03T11:59:59,275.22,275.82,274.30,275.13,2073780,570711996
...,...,...,...,...,...,...,...,...
1368,2025-01-31T21:30:00,2025-01-31T21:59:59,281.20,281.65,281.06,281.45,352110,99078089
1369,2025-01-31T22:00:00,2025-01-31T22:29:59,281.45,281.65,281.10,281.14,385540,108492268
1370,2025-01-31T22:30:00,2025-01-31T22:59:59,281.13,281.34,281.00,281.01,131320,36914471
1371,2025-01-31T23:00:00,2025-01-31T23:29:59,281.00,281.00,280.80,280.90,183010,51407733
1372,2025-01-31T23:30:00,2025-01-31T23:59:59,280.90,280.96,280.70,280.73,274340,77045822

In [3]:
moex = moexalgo.Ticker('MOEX')
moex.candles(start="2025-01-01", end="2025-03-31", period="12H")

,begin,end,open,high,low,close,volume,value
0,2025-01-03T00:00:00,2025-01-03T11:59:59,201.38,201.50,197.45,197.90,1695430,337567749
1,2025-01-03T12:00:00,2025-01-03T23:59:59,197.92,198.42,193.41,194.83,2920400,570343274
2,2025-01-04T00:00:00,2025-01-04T11:59:59,0.00,0.00,0.00,0.00,0,0
3,2025-01-04T12:00:00,2025-01-04T23:59:59,0.00,0.00,0.00,0.00,0,0
4,2025-01-05T00:00:00,2025-01-05T11:59:59,0.00,0.00,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...
171,2025-03-29T12:00:00,2025-03-29T23:59:59,196.36,196.39,195.75,195.75,259560,50823204
172,2025-03-30T00:00:00,2025-03-30T11:59:59,195.75,195.75,195.75,195.75,40890,8004218
173,2025-03-30T12:00:00,2025-03-30T23:59:59,195.75,195.75,195.75,195.75,161070,31529452
174,2025-03-31T00:00:00,2025-03-31T11:59:59,194.78,202.56,193.00,198.28,5056570,1000615600
175,2025-03-31T12:00:00,2025-03-31T23:59:59,198.25,200.77,197.55,199.55,3928210,782655690

In [4]:
t = moexalgo.Ticker('T')
t.candles(start="2025-01-01", end="2025-03-31", period="4W")

,begin,end,open,high,low,close,volume,value
0,2025-01-06T00:00:00,2025-02-02T23:59:59,2660.0,3108,2645.0,3041.8,123155925,359308882129
1,2025-02-03T00:00:00,2025-03-02T23:59:59,3035.2,3550,2982.6,3277.0,96429967,317746897713
2,2025-03-03T00:00:00,2025-03-30T23:59:59,3271.6,3685,3185.2,3255.4,79241723,274170150628
3,2025-03-31T00:00:00,2025-04-27T23:59:59,3212.0,3424,2992.6,3113.4,26425711,85792722742