# Скачивание исторических данных AlgoPack

### TradeStats
статистика по сделкам (2020 - 2023 октябрь)
<ul>
<li><a href="https://download.moex.com/Link/1130112131221195/tradestats_2020.7z">2020</a></li>
<li><a href="https://download.moex.com/Link/1130112235221195/tradestats_2021.7z">2021</a></li>
<li><a href="https://download.moex.com/Link/1130112307221195/tradestats_2022.7z">2022</a></li>
<li><a href="https://download.moex.com/Link/1130112338221195/tradestats_2023.7z">2023</a></li>
</ul>

### OrderStats
статистика по заявкам (2020 - 2023 октябрь)
<ul>
<li><a href="https://download.moex.com/Link/1130112458221195/orderstats_2020.7z">2020</a></li>
<li><a href="https://download.moex.com/Link/1130112537221195/orderstats_2021.7z">2021</a></li>
<li><a href="https://download.moex.com/Link/1130112642221195/orderstats_2022.7z">2022</a></li>
<li><a href="https://download.moex.com/Link/1130112738221195/orderstats_2023.7z">2023</a></li>
</ul>

### OBStats
статистика по стакану (2020 - 2023 октябрь)
<ul>
<li><a href="https://download.moex.com/Link/1130112911221195/obstats_2020.7z">2020</a></li>
<li><a href="https://download.moex.com/Link/1130112937221195/obstats_2021.7z">2021</a></li>
<li><a href="https://download.moex.com/Link/1130113001221195/obstats_2022.7z">2022</a></li>
<li><a href="https://download.moex.com/Link/1130113032221195/obstats_2023.7z">2023</a></li>
</ul>

<i>Ссылки действительны до 14 декабря 2023 г. включительно</i>

## Пример скачивания данных AlgoPack через API

In [1]:
import pandas as pd
import time

In [3]:
dates = ['2023-11-20', '2023-11-21', '2023-11-22', '2023-11-23', '2023-11-24']

In [4]:
# Скачивание TradeStats (все акции)

tradestats = pd.DataFrame()
for date in dates:
    print(date)
    # запрос возвращает не более 1000 записей, чтобы получить все записи используем курсор
    for cursor in range(25):
        url = f'https://iss.moex.com/iss/datashop/algopack/eq/tradestats.csv?date={date}&start={cursor*1000}&iss.only=data'
        df = pd.read_csv(url, sep=';', skiprows=2)
        tradestats = pd.concat([tradestats, df])
        if df.shape[0] < 1000:
            break
        
        time.sleep(0.5)
    
tradestats.to_csv('tradestats.csv', index=None)

In [5]:
tradestats.head()

,tradedate,tradetime,secid,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,trades_b,trades_s,val_b,val_s,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,SYSTIME
0,2023-11-20,10:05:00,ABIO,100.000,101.000,99.92,100.400,0.0019,504,507458.8,...,37,38,276778.8,230680.0,275,229,0.1,100.650,100.730,2023-11-21 16:27:03
1,2023-11-20,10:05:00,ABRD,297.200,299.600,297.20,298.800,0.0017,208,620360.0,...,28,12,423514.0,196846.0,142,66,0.4,298.200,298.300,2023-11-21 16:27:03
2,2023-11-20,10:05:00,AFKS,16.558,16.599,16.55,16.572,0.0007,1136,1882645.3,...,77,79,734148.6,1148496.7,443,693,-0.2,16.572,16.573,2023-11-21 16:27:03
3,2023-11-20,10:05:00,AFLT,38.540,38.630,38.51,38.530,0.0007,11662,4497979.8,...,225,210,1713739.0,2784240.8,4444,7218,-0.2,38.560,38.570,2023-11-21 16:27:03
4,2023-11-20,10:05:00,AGRO,1468.600,1504.800,1458.20,1498.400,0.0007,93453,138904438.2,...,1254,1249,66302644.4,72601793.8,44647,48806,-0.0,1485.000,1487.600,2023-11-21 16:27:03

In [9]:
# Скачивание TradeStats (одна указанная акция)

ticker = 'SBER'
tradestats = pd.DataFrame()
for date in dates:
    url = f'https://iss.moex.com/iss/datashop/algopack/eq/tradestats/{ticker}.csv?from={date}&till={date}&iss.only=data'
    df = pd.read_csv(url, sep=';', skiprows=2)
    tradestats = pd.concat([tradestats, df])
    time.sleep(0.5)
    
tradestats.to_csv(f'tradestats_{ticker}.csv', index=None)

In [10]:
tradestats.shape

(416, 23)

In [11]:
tradestats.head()

,tradedate,tradetime,secid,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,trades_b,trades_s,val_b,val_s,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,SYSTIME
0,2023-11-20,10:05:00,SBER,281.80,282.50,281.61,282.49,0.0001,121163,341940438.6,...,1419,1358,172985408.8,168955029.8,61290,59873,0.0,282.24,282.19,2023-11-21 16:27:03
1,2023-11-20,10:10:00,SBER,282.47,283.49,282.47,283.14,0.0001,129991,367913213.4,...,1669,1629,190883027.5,177030185.9,67443,62548,0.0,283.03,283.03,2023-11-21 16:27:04
2,2023-11-20,10:15:00,SBER,283.14,283.46,282.47,282.62,0.0001,78449,222006901.6,...,1043,893,140952881.7,81054019.9,49809,28640,0.3,282.99,283.01,2023-11-21 16:27:05
3,2023-11-20,10:20:00,SBER,282.61,282.97,282.55,282.67,0.0001,41799,118168365.7,...,1090,1127,65605484.0,52562881.7,23207,18592,0.1,282.70,282.72,2023-11-21 16:27:06
4,2023-11-20,10:25:00,SBER,282.68,283.06,282.67,283.00,0.0001,24424,69096886.6,...,596,562,35744709.6,33352177.0,12635,11789,0.0,282.90,282.91,2023-11-21 16:27:06

## Пример скачивания данных AlgoPack через python библиотеку

https://github.com/moexalgo/moexalgo/blob/main/samples/quick_start.ipynb

### Дополнительная информация (на всякий случай)

Полное описание API - https://www.moex.com/a2193
<br>
Кроме данных AlgoPack в API есть много других данных, список методов - https://iss.moex.com/iss/reference/