# Quick start with MOEXALGO!

### Авторизация

Для доступа к данным необходимо зарегестрироваться на https://passport.moex.com и сохранить логин/пароль

In [1]:
import os

from moexalgo import session, Market, Ticker, CandlePeriod

# username = ""
# password = ""
# session.authorize(username, password)
session.TOKEN = os.environ['APIKEY']

### Cписок доступных тикеров

In [2]:
# Акции
eq = Market('EQ')
eq.tickers()

HTTPStatusError: Client error '401 Unauthorized' for url 'https://apim.moex.com/iss/engines/stock/markets/shares/boards/TQBR/securities.json'
For more information check: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/401

In [3]:
# Валюта
fx = Market('FX')
fx.tickers()

,ticker,board,shortname,lotsize,decimals,minstep,secname
0,AEDRUBTODTOM,CETS,AED_TODTOM,100000,4,0.0001,AED_TODTOM - СВОП AED/РУБ
1,AEDRUB_SPT,CETS,AEDRUB_SPT,1000,4,0.0025,AED/RUB_SPT - AED/РУБ
2,AEDRUB_TMS,CETS,AEDRUB_TMS,1,4,0.0025,AED/RUB_TMS - AED/РУБ
3,AEDRUB_TOD,CETS,AEDRUB_TOD,1000,4,0.0025,AED/RUB_TOD - AED/РУБ
4,AEDRUB_TOM,CETS,AEDRUB_TOM,1000,4,0.0025,AED/RUB_TOM - AED/РУБ
...,...,...,...,...,...,...,...
194,UZSRUB_TOM,CETS,UZSRUB_TOM,1000000,4,0.0025,UZS/RUB_TOM - UZS/РУБ
195,ZARRUBTODTOM,CETS,ZAR_TODTOM,1000000,4,0.0001,ZAR_TODTOM - СВОП ZAR/РУБ
196,ZARRUB_TMS,CETS,ZARRUB_TMS,1,4,0.0025,ZAR/RUB_TMS - ZAR/РУБ
197,ZARRUB_TOD,CETS,ZARRUB_TOD,10000,4,0.0025,ZAR/RUB_TOD - ZAR/РУБ
198,ZARRUB_TOM,CETS,ZARRUB_TOM,10000,4,0.0025,ZAR/RUB_TOM - ZAR/РУБ

In [4]:
# Фьючерсы
fo = Market('FO')
fo.tickers()

,ticker,board,shortname,decimals,minstep,lasttradedate,sectype,assetcode,lotvolume,initialmargin
0,AEH6,RFUD,AED-3.26,3,0.001,2026-03-19,AE,AED,1000,3700.31
1,AEM6,RFUD,AED-6.26,3,0.001,2026-06-18,AE,AED,1000,3874.97
2,AEZ5,RFUD,AED-12.25,3,0.001,2025-12-18,AE,AED,1000,3652.04
3,AFH6,RFUD,AFLT-3.26,0,1.000,2026-03-19,AF,AFLT,100,1562.18
4,AFZ5,RFUD,AFLT-12.25,0,1.000,2025-12-18,AF,AFLT,100,1484.97
...,...,...,...,...,...,...,...,...,...,...
393,XIZ5,RFUD,XIA-12.25,2,0.010,2025-12-19,XI,XIA,100,8551.58
394,YDH6,RFUD,YDEX-3.26,0,1.000,2026-03-19,YD,YDEX,1,818.06
395,YDZ5,RFUD,YDEX-12.25,0,1.000,2025-12-18,YD,YDEX,1,753.16
396,ZCH6,RFUD,ZINC-3.26,1,0.500,2026-03-17,ZC,ZINC,100,3439.64
397,ZCZ5,RFUD,ZINC-12.25,1,0.500,2025-12-16,ZC,ZINC,100,3111.05

### Работа с тикерами

In [5]:
# Акции SBER
sber = Ticker('SBER')

# Китайский Юань
cny000000tod = Ticker('CNY000000TOD')

# Фьючерсный контракт АФК Система
akm4 = Ticker('AKM4')

#### Candles
Классические свечи OHLCV. Гранулярность данных:
```
period:
    moexalgo.CandlePeriod:

    CandlePeriod.ONE_MINUTE
    CandlePeriod.TEN_MINUTES
    CandlePeriod.ONE_HOUR
    CandlePeriod.ONE_DAY
    CandlePeriod.ONE_WEEK
    CandlePeriod.ONE_MONTH

    или int:
    1 - 1 мин
    10 - 10 мин
    60 - 1 час
    24 - 1 день
    7 - 1 неделя
    31 - 1 месяц

    или str: 1min, 10min, 1h, 1d, 1w, 1m
offset:
    Начальная позиция в последовательности записей
limit:
    Максимальное количество записей в результате
latest:
    Включает режим выдачи последних `latest` записей в наборе
use_dataframe:
    Изменяет тип возвращаемого объекта. По умолчанию `True`
    Если `True`, то возвращает `pandas.DataFrame`, иначе итератор
```

In [6]:
# Свечи по акциям SBER за период
sber.candles(start='2023-10-10', end='2023-10-18', period='10min').head()

,open,close,high,low,value,volume,begin,end
0,264.89,264.89,264.89,264.89,68129708.0,257200,2023-10-10 09:50:00,2023-10-10 09:59:59
1,264.90,264.25,265.18,263.80,573080891.3,2167670,2023-10-10 10:00:00,2023-10-10 10:09:59
2,264.26,264.22,264.95,263.90,441929827.4,1671130,2023-10-10 10:10:00,2023-10-10 10:19:59
3,264.22,264.23,264.45,264.05,187603360.0,710040,2023-10-10 10:20:00,2023-10-10 10:29:59
4,264.23,264.23,264.58,264.20,217393400.8,822500,2023-10-10 10:30:00,2023-10-10 10:39:59

#### ❗️Ограничение на кол-во отдаваемых свечек - 10 000❗️
##### Все запросы по конкретному тикеру (не только свечи) ограничены лимитом в 10 000 строк. Если вам нужно получить больше данных, необходимо организовать **посуточный цикл загрузки** данных.

In [7]:
# Свечи по китайскому юаню за период
cny000000tod.candles(start='2023-10-10', end='2023-10-18', period=CandlePeriod.ONE_MINUTE).head()

,open,close,high,low,value,volume,begin,end
0,13.605,13.614,13.634,13.605,6127750,450000,2023-10-10 07:00:00,2023-10-10 07:00:59
1,13.634,13.625,13.634,13.625,4117045,302000,2023-10-10 07:01:00,2023-10-10 07:01:59
2,13.634,13.634,13.634,13.634,2726800,200000,2023-10-10 07:02:00,2023-10-10 07:02:59
3,13.634,13.635,13.635,13.633,16714820,1226000,2023-10-10 07:03:00,2023-10-10 07:03:59
4,13.635,13.642,13.642,13.634,21926634,1608000,2023-10-10 07:04:00,2023-10-10 07:04:59

In [8]:
# Свечи по фьючерсному контракту за период
akm4.candles(start='2024-04-23', end='2024-04-23', period=60).head()

,open,close,high,low,value,volume,begin,end
0,27323,27323,27323,27323,0,1,2024-04-23 08:00:00,2024-04-23 08:59:59
1,27419,27350,27420,27350,0,87,2024-04-23 09:00:00,2024-04-23 09:59:59
2,27350,27033,27569,27033,0,923,2024-04-23 10:00:00,2024-04-23 10:59:59
3,27120,27226,27255,27033,0,296,2024-04-23 11:00:00,2024-04-23 11:59:01
4,27227,27344,27504,27058,0,584,2024-04-23 12:00:00,2024-04-23 12:59:01

### OrderBook

In [9]:
sber = Ticker('SBER')
sber.orderbook()

   board ticker buysell   price  quantity          seqnum updatetime  decimals
0   TQBR   SBER       B  292.35      2316  20251022160109   16:01:09         2
1   TQBR   SBER       B  292.36      5084  20251022160109   16:01:09         2
2   TQBR   SBER       B  292.37       315  20251022160109   16:01:09         2
3   TQBR   SBER       B  292.38      1815  20251022160109   16:01:09         2
4   TQBR   SBER       B  292.39      1516  20251022160109   16:01:09         2
5   TQBR   SBER       B  292.41         1  20251022160109   16:01:09         2
6   TQBR   SBER       B  292.42      5429  20251022160109   16:01:09         2
7   TQBR   SBER       B  292.43      3085  20251022160109   16:01:09         2
8   TQBR   SBER       B  292.44      1975  20251022160109   16:01:09         2
9   TQBR   SBER       B  292.45      1437  20251022160109   16:01:09         2
10  TQBR   SBER       S  292.48       698  20251022160109   16:01:09         2
11  TQBR   SBER       S  292.49       200  20251022160109   16:01:09         2
12  TQBR   SBER       S  292.50     10266  20251022160109   16:01:09         2
13  TQBR   SBER       S  292.51       769  20251022160109   16:01:09         2
14  TQBR   SBER       S  292.52      4112  20251022160109   16:01:09         2
15  TQBR   SBER       S  292.53       500  20251022160109   16:01:09         2
16  TQBR   SBER       S  292.54      1815  20251022160109   16:01:09         2
17  TQBR   SBER       S  292.55       316  20251022160109   16:01:09         2
18  TQBR   SBER       S  292.56      1815  20251022160109   16:01:09         2
19  TQBR   SBER       S  292.57      2315  20251022160109   16:01:09         2

In [10]:
cny000000tod = Ticker('CNY000000TOD')
try:
    cny000000tod.orderbook()
except NotImplementedError as exc:
    print(str(exc))

In [11]:
akm4 = Ticker('AKM4')
akm4.orderbook()

Empty DataFrame
Columns: []
Index: []

### Метрики TradeStats, OrderStats, Obstats

#### Tradestats

Торговая статистика на основе сделок. Гранулярность данных: 5 мин.

---

Данные TradeStats по всем акциям за дату. Чтобы получить данные за период, нужно запустить цикл по датам.

In [12]:
eq.tradestats(date='2023-10-10').head()

,tradedate,tradetime,ticker,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime,sec_pr_open,sec_pr_high,sec_pr_low,sec_pr_close
0,2023-10-10,10:05:00,ABIO,119.520,119.800,114.000,117.380,0.0017,45904,53480659,...,22932,22972,0.00,116.610,116.400,2024-08-13 03:37:28,5,11,81,299
1,2023-10-10,10:05:00,ABRD,305.600,307.400,305.600,306.600,0.0007,480,1471600,...,372,108,0.55,306.700,306.100,2024-08-13 03:37:28,6,261,6,300
2,2023-10-10,10:05:00,AFKS,17.601,17.606,17.501,17.511,0.0003,10943,19184629,...,3341,7602,-0.39,17.539,17.528,2024-08-13 03:37:28,1,1,216,300
3,2023-10-10,10:05:00,AFLT,40.560,40.590,40.470,40.550,0.0004,4517,1830400,...,3337,1180,0.48,40.530,40.500,2024-08-13 03:37:28,5,20,93,293
4,2023-10-10,10:05:00,AGRO,1200.000,1209.600,1200.000,1209.600,0.0004,5834,7036248,...,4795,1039,0.64,1206.300,1205.200,2024-08-13 03:37:28,1,278,1,300

##### Аналогично для других рынков

In [13]:
fo.tradestats(date='2024-04-22').head()

,tradedate,tradetime,ticker,asset_code,pr_open,pr_high,pr_low,pr_close,pr_std,vol,...,im,oi_open,oi_high,oi_low,oi_close,sec_pr_open,sec_pr_high,sec_pr_low,sec_pr_close,systime
0,2024-04-22,09:05:00,AFM4,AFLT,5097.0,5103.0,5097.0,5103.0,4.2426,3,...,2589.0,51080,51082,51080,51082,107,287,107,287,2025-06-17 02:48:44
1,2024-04-22,09:05:00,AFU4,AFLT,5294.0,5294.0,5294.0,5294.0,NaN,1,...,2688.0,4884,4884,4884,4884,287,287,287,287,2024-04-22 09:05:05
2,2024-04-22,09:05:00,AKM4,AFKS,26530.0,26671.0,26525.0,26580.0,43.3244,34,...,13241.0,10306,10318,10304,10318,5,21,181,288,2025-06-17 02:48:44
3,2024-04-22,09:05:00,AKU4,AFKS,26792.0,26792.0,26670.0,26670.0,86.2670,2,...,13726.0,778,780,778,780,21,21,83,83,2025-06-17 02:48:44
4,2024-04-22,09:05:00,ALM4,ALRS,7729.0,7729.0,7729.0,7729.0,NaN,8,...,2047.0,114760,114760,114760,114760,5,5,5,5,2024-04-22 09:05:05

In [14]:
fx.tradestats(date='2024-04-22').head()

,tradedate,tradetime,ticker,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,sec_pr_open,sec_pr_high,sec_pr_low,sec_pr_close,systime
0,2024-04-22,07:05:00,CNY000000TOD,12.8715,12.87150,12.8480,12.84950,0.0002,693,8909349,...,252,441,-0.27,12.86394,12.85178,10,10,206,227,2025-07-04 01:07:20
1,2024-04-22,07:05:00,CNYRUB_TOM,12.8500,12.87000,12.8500,12.85800,0.0003,15881,204227307,...,11941,3940,0.50,12.85989,12.85975,1,8,1,192,2025-07-04 01:07:20
2,2024-04-22,07:05:00,EURUSD000TOM,1.0670,1.06705,1.0670,1.06705,NaN,250,266760,...,250,0,1.00,1.06704,NaN,82,82,82,82,2025-07-04 01:07:20
3,2024-04-22,07:05:00,EUR_RUB__TOD,105.3475,105.34750,95.4750,99.50500,0.0400,147,14692155,...,30,117,-0.59,99.50500,100.05990,12,12,28,117,2025-07-04 01:07:20
4,2024-04-22,07:05:00,EUR_RUB__TOM,99.4075,99.54750,99.4075,99.46500,0.0005,419,41671507,...,57,362,-0.73,99.47510,99.45150,29,77,29,82,2025-07-04 01:07:20

Данные TradeStats по акциям SBER за период

In [15]:
sber.tradestats(start='2023-10-10', end='2023-10-18').head()

,tradedate,tradetime,ticker,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime,sec_pr_open,sec_pr_high,sec_pr_low,sec_pr_close
0,2023-10-10,10:05:00,SBER,264.90,265.18,264.43,264.46,0.0001,89034,235729237,...,40995,48039,-0.08,264.81,264.72,2024-08-13 03:46:33,1,72,256,300
1,2023-10-10,10:10:00,SBER,264.46,264.50,263.80,264.25,0.0001,127733,337351653,...,42771,84962,-0.33,264.13,264.10,2024-08-13 03:46:33,1,1,129,300
2,2023-10-10,10:15:00,SBER,264.26,264.95,264.12,264.94,0.0001,88051,232913970,...,71267,16784,0.62,264.53,264.47,2024-08-13 03:46:33,1,298,11,299
3,2023-10-10,10:20:00,SBER,264.91,264.94,263.90,264.22,0.0001,79062,209015857,...,18509,60553,-0.53,264.48,264.34,2024-08-13 03:46:33,2,2,238,300
4,2023-10-10,10:25:00,SBER,264.22,264.35,264.05,264.10,0.0000,31648,83606467,...,16890,14758,0.07,264.20,264.15,2024-08-13 03:46:33,1,233,42,299

#### Orderstats

Торговая статистика на основе заявок. Гранулярность данных 5 мин.

---

##### ❗️ Для рынка фьючерсов нет метрики OrderStats ❗️

Данные OrderStats по всем акциям за дату. Чтобы получить данные за период, нужно запустить цикл по датам

In [16]:
eq.orderstats(date='2024-04-22').head()

,tradedate,tradetime,ticker,put_orders_b,put_orders_s,put_val_b,put_val_s,put_vol_b,put_vol_s,put_vwap_b,...,cancel_val_b,cancel_val_s,cancel_vol_b,cancel_vol_s,cancel_vwap_b,cancel_vwap_s,cancel_vol,cancel_val,cancel_orders,systime
0,2024-04-22,10:05:00,ABIO,3900,2383,243724039,123547313,218916,107363,111.330,...,228985436,79887389,204224,70889,112.120,112.690,275113,308872825,4910,2024-09-20 18:37:15
1,2024-04-22,10:05:00,ABRD,403,1254,11601150,67654480,4266,22618,271.900,...,6100996,54879312,2117,18778,288.200,292.300,20895,60980308,935,2024-09-20 18:37:15
2,2024-04-22,10:05:00,AFKS,35902,41689,11644486277,12643492975,4474087,4843705,26.027,...,11327898319,12299118256,4325725,4682085,26.187,26.268,9007810,23627016575,71974,2024-09-20 18:37:15
3,2024-04-22,10:05:00,AFLT,13581,4888,2197085249,777454066,4449012,1548997,49.380,...,2113512888,643360953,4249101,1286704,49.740,50.000,5535805,2756873841,16076,2024-09-20 18:37:15
4,2024-04-22,10:05:00,AGRO,76043,28082,17904967988,2777946357,12347605,1897111,1450.100,...,17871754612,2719257575,12313352,1857227,1451.400,1464.100,14170579,20591012187,102673,2024-09-20 18:37:15

In [17]:
# Аналогично для Валюты
fx.orderstats(date='2024-04-22').head()

,tradedate,tradetime,ticker,put_orders_b,put_orders_s,put_val_b,put_val_s,put_vol_b,put_vol_s,put_vwap_b,put_vwap_s,cancel_orders_b,cancel_orders_s,cancel_val_b,cancel_val_s,cancel_vol_b,cancel_vol_s,cancel_vwap_b,cancel_vwap_s,systime
0,2024-04-22,07:05:00,CNY000000TOD,1399,3230,15671927317,23039305040,1223565,1780529,12.808410,12.939580,1352,3179,14575782279,21804988673,1137631,1685175,12.812400,12.939300,2024-04-23 20:43:12
1,2024-04-22,07:05:00,CNYRUB_TOM,4719,17543,51954068498,196759518757,4049678,15275798,12.829190,12.880470,4647,17428,50762588193,195341249849,3956773,15166226,12.829290,12.880020,2024-04-23 20:43:12
2,2024-04-22,07:05:00,EURUSD000TOD,3,2,749810,767260,710,700,1.056070,1.096086,0,0,0,0,0,0,0.000000,0.000000,2025-07-03 03:03:14
3,2024-04-22,07:05:00,EURUSD000TOM,579,217,78081407,33625320,73300,31450,1.065231,1.069168,563,203,73770427,29777447,69250,27850,1.065277,1.069208,2024-04-23 20:43:12
4,2024-04-22,07:05:00,EUR_RUB__TOD,6171,1802,83836315765,30743628336,875212,304020,95.789700,101.123700,6146,1766,83422796620,30323934509,871035,299821,95.774300,101.140100,2024-04-23 20:43:12

Данные OrderStats по акциям SBER за период. Лимит по таким запросам 10К строк за раз. Если вам нужны большие периоды

In [18]:
sber.orderstats(start='2023-10-10', end='2023-10-18').head()

,tradedate,tradetime,ticker,put_orders_b,put_orders_s,put_val_b,put_val_s,put_vol_b,put_vol_s,put_vwap_b,...,cancel_val_b,cancel_val_s,cancel_vol_b,cancel_vol_s,cancel_vwap_b,cancel_vwap_s,cancel_vol,cancel_val,cancel_orders,systime
0,2023-10-10,10:05:00,SBER,12588,15586,3937465653,5358835832,1511580,2038427,260.49,...,3640647568,4936464712,1375738,1862514,264.63,265.04,3238252,8577112280,24903,2024-09-16 17:35:22
1,2023-10-10,10:10:00,SBER,5567,6791,1843890656,2555784696,714584,1001512,258.04,...,1437701708,2281839153,545309,863399,263.65,264.29,1408708,3719540862,9355,2024-09-16 17:35:22
2,2023-10-10,10:15:00,SBER,6289,5895,2241778775,2465016405,898471,933868,249.51,...,2066437667,2290671804,781963,864446,264.26,264.99,1646409,4357109471,10078,2024-09-16 17:35:22
3,2023-10-10,10:20:00,SBER,5045,5893,1594814907,2404034998,615955,953957,258.92,...,1478751265,2282857449,559684,862257,264.21,264.75,1421941,3761608715,9225,2024-09-16 17:35:23
4,2023-10-10,10:25:00,SBER,4320,4016,2050351596,2227216090,785969,846117,260.87,...,1883449718,2157313097,713452,815408,263.99,264.57,1528860,4040762816,6779,2024-09-16 17:35:23

#### OrderBookStats

Торговая статистика на основе стакана заявок. Гранулярность данных 5 мин.

---

Данные по всем акциям за дату. Чтобы получить данные за период, нужно запустить цикл по датам

In [19]:
eq.obstats(date='2024-04-10').head()

,tradedate,tradetime,ticker,spread_bbo,spread_lv10,spread_1mio,levels_b,levels_s,vol_b,vol_s,...,val_s,imbalance_vol_bbo,imbalance_val_bbo,imbalance_vol,imbalance_val,vwap_b,vwap_s,vwap_b_1mio,vwap_s_1mio,systime
0,2024-04-10,10:05:00,ABIO,12.6,89.9,105.9,212,262,9020,24984,...,32394244,0.23,0.23,-0.47,-0.52,112.150,129.660,115.730,116.960,2024-12-20 05:40:59
1,2024-04-10,10:05:00,ABRD,22.7,174.1,94.1,156,155,4270,7691,...,23278853,0.08,0.08,-0.29,-0.34,265.800,302.700,280.700,283.300,2024-12-20 05:40:59
2,2024-04-10,10:05:00,AFKS,5.3,25.7,13.1,770,763,94325,111904,...,278448093,0.03,0.03,-0.09,-0.13,22.643,24.883,23.667,23.698,2024-12-20 05:41:00
3,2024-04-10,10:05:00,AFLT,3.6,42.2,10.4,561,474,417675,355468,...,185581816,0.16,0.16,0.08,0.01,45.550,52.190,49.350,49.400,2024-12-20 05:41:00
4,2024-04-10,10:05:00,AGRO,7.0,63.7,24.8,346,338,32699,38961,...,59952332,0.06,0.06,-0.09,-0.14,1394.000,1538.700,1446.100,1449.700,2024-12-20 05:41:00

##### Аналогично для других рынков

In [20]:
fx.obstats(date='2024-04-10').head()

,tradedate,tradetime,ticker,mid_price,micro_price,spread_l1,spread_l2,spread_l3,spread_l5,spread_l10,...,vol_s_l5,vol_s_l10,vol_s_l20,vwap_b_l3,vwap_b_l5,vwap_b_l10,vwap_s_l3,vwap_s_l5,vwap_s_l10,systime
0,2024-04-10,07:05:00,CNY000000TOD,12.835250,12.834660,4.5,7.6,10.3,21.8,29.4,...,1969.0,5210.0,None,12.831390,12.830410,12.822390,12.839590,12.841910,12.846340,2024-04-23 23:24:29
1,2024-04-10,07:05:00,CNYRUB_TOM,12.838520,12.838370,1.7,2.8,3.9,6.2,10.9,...,4630.0,12817.0,None,12.836570,12.835860,12.834230,12.840210,12.841000,12.842890,2024-04-23 23:24:29
2,2024-04-10,07:05:00,EURUSD000TOD,1.085825,1.089638,143.3,167.1,NaN,NaN,NaN,...,0.0,0.0,None,1.076869,NaN,NaN,NaN,NaN,NaN,2024-04-23 23:24:29
3,2024-04-10,07:05:00,EURUSD000TOM,1.085501,1.085304,6.0,10.9,21.1,37.3,120.1,...,1533.0,3648.0,None,1.084868,1.084071,1.083219,1.086009,1.086297,1.087974,2024-04-23 23:24:29
4,2024-04-10,07:05:00,EUR_RUB__TOD,100.879400,100.838900,34.5,36.0,44.3,58.7,140.8,...,325.0,2590.0,None,100.703300,100.689400,100.532200,101.082100,101.170300,101.421900,2024-04-23 23:24:29

In [21]:
fo.obstats(date='2024-04-10').head()

,tradedate,tradetime,ticker,asset_code,mid_price,micro_price,spread_l1,spread_l2,spread_l3,spread_l5,...,vol_s_l20,vwap_b_l3,vwap_b_l5,vwap_b_l10,vwap_b_l20,vwap_s_l3,vwap_s_l5,vwap_s_l10,vwap_s_l20,systime
0,2024-04-10,09:05:00,AEH5,AED,NaN,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-31 10:16:52
1,2024-04-10,09:05:00,AEM4,AED,26.728,27.183,1065.8,1107.9,1115.1,NaN,...,0,25281.383,25008.173,NaN,NaN,28079.006,NaN,NaN,NaN,2024-05-31 09:33:50
2,2024-04-10,09:05:00,AEU4,AED,25.950,25.950,1148.5,1150.0,1554.1,NaN,...,0,24533.103,24405.657,NaN,NaN,27360.534,NaN,NaN,NaN,2024-05-31 09:51:55
3,2024-04-10,09:05:00,AEZ4,AED,NaN,NaN,NaN,NaN,NaN,NaN,...,0,24742.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-31 10:11:55
4,2024-04-10,09:05:00,AFM4,AFLT,5082.000,5083.000,12.1,23.2,91.6,112.3,...,13,5073.000,5067.000,5059.0,5052.0,5085.000,5095.0,5115.0,5127.0,2024-05-31 09:45:22

Данные OrderBookStats по акциям SBER за период.

Запросы такого типа (по одному тикеру и период дат) имеют лимит выдачи 10К строк за раз. 
Чтобы получить данные за большие периоды, нужно запустить цикл по датам, месяцам.

In [22]:
sber.obstats(start='2023-10-10', end='2023-10-18').head()

,tradedate,tradetime,ticker,spread_bbo,spread_lv10,spread_1mio,levels_b,levels_s,vol_b,vol_s,...,val_s,imbalance_vol_bbo,imbalance_val_bbo,imbalance_vol,imbalance_val,vwap_b,vwap_s,vwap_b_1mio,vwap_s_1mio,systime
0,2023-10-10,10:05:00,SBER,1.0,8.7,2.2,1387,856,349423,456963,...,1241102353,-0.11,-0.11,-0.13,-0.16,256.25,271.59,264.80,264.86,2023-10-27 02:53:53
1,2023-10-10,10:10:00,SBER,0.8,8.1,1.6,1401,922,393925,509661,...,1383499548,-0.04,-0.04,-0.13,-0.16,256.41,271.46,264.16,264.21,2023-10-27 02:53:54
2,2023-10-10,10:15:00,SBER,0.7,8.0,1.7,1450,939,445063,509199,...,1381864266,-0.19,-0.19,-0.07,-0.09,257.09,271.38,264.45,264.49,2025-06-03 23:57:33
3,2023-10-10,10:20:00,SBER,0.7,7.9,1.5,1473,968,454221,516918,...,1402282644,0.13,0.13,-0.06,-0.09,257.10,271.28,264.51,264.55,2025-06-03 23:57:33
4,2023-10-10,10:25:00,SBER,0.6,8.0,1.4,1447,997,463721,525671,...,1425016228,0.22,0.22,-0.06,-0.09,256.98,271.08,264.15,264.19,2025-06-03 23:57:33

#### HI2
Торговая статистика на основе индекса рыночной концентрации. Гранулярность данных 5 мин.

---

In [23]:
sber.hi2(start='2024-04-10', end='2024-04-18').head()

,tradedate,tradetime,ticker,metric,value,reference,systime
0,2024-04-10,18:40:00,SBER,hhi_agressive_buy,62,None,2024-04-10 18:45:46
1,2024-04-10,18:40:00,SBER,hhi_agressive,96,None,2024-04-10 18:45:46
2,2024-04-10,18:40:00,SBER,hhi_volume,115,None,2024-04-10 18:45:46
3,2024-04-10,18:40:00,SBER,hhi_sell,194,None,2024-04-10 18:45:46
4,2024-04-10,18:40:00,SBER,hhi_passive_sell,313,None,2024-04-10 18:45:46

#### FUTOI
Торговая статистика на основе открытых позиций по фьючерсным контрактам в разрезе физ. и юр. лиц

---

In [24]:
fo.futoi(date="2024-04-08").head()

,sess_id,seqnum,tradedate,tradetime,ticker,clgroup,pos,pos_long,pos_short,pos_long_num,pos_short_num,systime,trade_session_date
0,7028,57,2024-04-08,23:50:00,YN,YUR,-5104,133,-5237,5,9,2025-06-21 16:22:46,2024-04-08
1,7028,57,2024-04-08,23:50:00,YN,FIZ,5104,14091,-8987,668,365,2025-06-21 16:22:46,2024-04-08
2,7028,57,2024-04-08,23:50:00,VI,FIZ,0,1155,-1155,61,14,2025-06-21 16:22:46,2024-04-08
3,7028,57,2024-04-08,23:50:00,VB,YUR,-501603,17861,-519464,11,37,2025-06-21 16:22:46,2024-04-08
4,7028,57,2024-04-08,23:50:00,VB,FIZ,501603,588919,-87316,3005,730,2025-06-21 16:22:46,2024-04-08