In [1]:
import os

import moexalgo
from moexalgo import session

session.TOKEN = os.environ['APIKEY']

In [2]:
bonds = moexalgo.Market('bonds')
bonds.trades()

,tradeno,tradetime,board,ticker,price,quantity,value,period,yield,tradetime_grp,systime,buysell,decimals,tradingsession,tradedate,trade_session_date
0,14549253306,13:14:10,TQOB,SU26248RMFS3,87.197,5,4359.85,N,14.88,1314,2025-10-24 13:14:10,B,4,1,2025-10-24,2025-10-24
1,14549253305,13:14:10,TQOB,SU26248RMFS3,87.196,1,871.96,N,14.88,1314,2025-10-24 13:14:10,B,4,1,2025-10-24,2025-10-24
2,14549253300,13:14:09,TQOB,SU26238RMFS4,56.575,180,101835.00,N,14.52,1314,2025-10-24 13:14:10,B,4,1,2025-10-24,2025-10-24
3,14549253299,13:14:09,TQOB,SU26238RMFS4,56.574,320,181036.80,N,14.52,1314,2025-10-24 13:14:10,B,4,1,2025-10-24,2025-10-24
4,14549253276,13:14:09,TQOB,SU26252RMFS5,90.495,1,904.95,N,15.08,1314,2025-10-24 13:14:09,B,4,1,2025-10-24,2025-10-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,14549071901,12:37:52,TQOB,SU26250RMFS9,85.398,1,853.98,N,15.18,1237,2025-10-24 12:37:52,S,4,1,2025-10-24,2025-10-24
4996,14549071900,12:37:52,TQOB,SU26250RMFS9,85.398,1,853.98,N,15.18,1237,2025-10-24 12:37:52,S,4,1,2025-10-24,2025-10-24
4997,14549071816,12:37:50,TQOB,SU26245RMFS9,86.845,2,1736.90,N,15.07,1237,2025-10-24 12:37:52,S,4,1,2025-10-24,2025-10-24
4998,14549071814,12:37:50,TQOB,SU26246RMFS7,86.461,2,1729.22,N,15.10,1237,2025-10-24 12:37:51,B,4,1,2025-10-24,2025-10-24
4999,14549071805,12:37:50,TQOB,SU26245RMFS9,86.846,2,1736.92,N,15.07,1237,2025-10-24 12:37:50,B,4,1,2025-10-24,2025-10-24

In [3]:
bonds.candles()

,ticker,open,high,low,close,volume,value,begin,end
0,SU26225RMFS1,64.892,64.892,64.892,64.892,3,194.7,2025-10-24 13:14:00,2025-10-24 13:14:59
1,SU26225RMFS1,64.890,64.890,64.651,64.651,997,64522.9,2025-10-24 13:15:00,2025-10-24 13:15:59
2,SU26233RMFS5,57.054,57.054,57.054,57.054,99,5648.3,2025-10-24 13:14:00,2025-10-24 13:14:59
3,SU26233RMFS5,57.055,57.242,57.055,57.062,2902,165874.3,2025-10-24 13:15:00,2025-10-24 13:15:59
4,SU26238RMFS4,56.574,56.574,56.574,56.574,180,10183.3,2025-10-24 13:14:00,2025-10-24 13:14:59
5,SU26238RMFS4,56.574,56.575,56.574,56.575,500,28287.2,2025-10-24 13:15:00,2025-10-24 13:15:59
6,SU26240RMFS0,59.993,59.993,59.993,59.993,100,5999.3,2025-10-24 13:14:00,2025-10-24 13:14:59
7,SU26240RMFS0,59.993,59.993,59.993,59.993,30,1799.8,2025-10-24 13:15:00,2025-10-24 13:15:59
8,SU26241RMFS8,78.242,78.242,78.242,78.242,2,156.5,2025-10-24 13:14:00,2025-10-24 13:14:59
9,SU26243RMFS4,73.120,73.120,73.120,73.120,20,1462.4,2025-10-24 13:14:00,2025-10-24 13:14:59
10,SU26246RMFS7,86.450,86.450,86.450,86.450,20,1729.0,2025-10-24 13:14:00,2025-10-24 13:14:59
11,SU26248RMFS3,87.196,87.196,87.196,87.196,1,87.2,2025-10-24 13:14:00,2025-10-24 13:14:59
12,SU26248RMFS3,87.197,87.197,87.197,87.197,5,436.0,2025-10-24 13:15:00,2025-10-24 13:15:59
13,SU26250RMFS9,85.547,85.547,85.547,85.547,16,1368.8,2025-10-24 13:14:00,2025-10-24 13:14:59
14,SU26250RMFS9,85.547,85.547,85.547,85.547,4000,342188.0,2025-10-24 13:15:00,2025-10-24 13:15:59
15,SU26252RMFS5,90.495,90.495,90.495,90.495,1,90.5,2025-10-24 13:14:00,2025-10-24 13:14:59
16,SU26252RMFS5,90.495,90.495,90.495,90.495,1,90.5,2025-10-24 13:15:00,2025-10-24 13:15:59
17,SU46020RMFS2,64.937,64.937,64.937,64.937,1,64.9,2025-10-24 13:14:00,2025-10-24 13:14:59
18,SU46023RMFS6,98.281,98.281,98.281,98.281,84,8255.6,2025-10-24 13:14:00,2025-10-24 13:14:59

In [4]:
fx = moexalgo.Market('FX')
fx.trades()

,tradeno,tradetime,board,ticker,price,quantity,value,period,tradetime_grp,systime,buysell,decimals
0,720967889,13:14:11,CETS,CNY000000TOD,11.3185,100,1131850.0,N,1314,2025-10-24 13:14:11,B,5
1,720967888,13:14:10,CETS,CNYRUB_TOM,11.3335,50,566675.0,N,1314,2025-10-24 13:14:11,B,5
2,720967887,13:14:10,CETS,CNY000000TOD,11.3185,100,1131850.0,N,1314,2025-10-24 13:14:10,B,5
3,720967886,13:14:09,CETS,CNY000000TOD,11.3185,50,565925.0,N,1314,2025-10-24 13:14:09,B,5
4,720967885,13:14:09,CETS,CNY000000TOD,11.3185,100,1131850.0,N,1314,2025-10-24 13:14:09,B,5
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,720961937,12:22:06,CETS,CNYRUB_TOM,11.3490,100,1134900.0,N,1222,2025-10-24 12:22:07,S,5
4996,720961936,12:22:06,CETS,GLDRUB_TOM,10586.8000,1,10586.8,N,1222,2025-10-24 12:22:07,S,4
4997,720961935,12:22:05,CETS,CNYRUB_TOM,11.3490,50,567450.0,N,1222,2025-10-24 12:22:06,S,5
4998,720961934,12:22:05,CETS,CNYRUB_TOM,11.3490,50,567450.0,N,1222,2025-10-24 12:22:06,S,5
4999,720961933,12:22:05,CETS,CNYRUB_TOM,11.3490,50,567450.0,N,1222,2025-10-24 12:22:06,S,5

In [5]:
fx.candles()

,ticker,open,high,low,close,volume,value,begin,end
0,CNY000000TOD,11.3190,11.3190,11.3190,11.3190,250,2829.8,2025-10-24 13:14:00,2025-10-24 13:14:59
1,CNY000000TOD,11.3190,11.3195,11.3185,11.3185,800,9055.0,2025-10-24 13:15:00,2025-10-24 13:15:59
2,CNYRUB_TOM,11.3345,11.3345,11.3345,11.3345,100,1133.5,2025-10-24 13:14:00,2025-10-24 13:14:59
3,CNYRUB_TOM,11.3335,11.3335,11.3335,11.3335,65,736.7,2025-10-24 13:15:00,2025-10-24 13:15:59
4,SLVRUB_TOM,166.8700,166.8700,166.8700,166.8700,1,166.9,2025-10-24 13:14:00,2025-10-24 13:14:59

In [6]:
fo = moexalgo.Market('FO')
fo.trades()

,tradeno,boardname,ticker,tradedate,tradetime,price,quantity,systime,recno,openposition,offmarketdeal,buysell,trade_session_date
0,1952342320007365209,RFUD,VBZ5,2025-10-24,13:14:12,7026.000,3,2025-10-24 13:14:12,296695566559,1574210,0,B,2025-10-24
1,2033125638323336187,RFUD,IMOEXF,2025-10-24,13:14:12,2574.000,1,2025-10-24 13:14:12,296695566516,1392322,0,S,2025-10-24
2,2012577965023533520,RFUD,NGV5,2025-10-24,13:14:12,3.296,5,2025-10-24 13:14:12,296695566313,335090,0,S,2025-10-24
3,2012577965023533519,RFUD,NGV5,2025-10-24,13:14:12,3.296,5,2025-10-24 13:14:12,296695566309,335090,0,S,2025-10-24
4,2012577965023533518,RFUD,NGV5,2025-10-24,13:14:12,3.296,5,2025-10-24 13:14:12,296695566305,335090,0,S,2025-10-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,1892951099921498958,RFUD,SiH6,2025-10-24,13:12:11,85234.000,1,2025-10-24 13:12:12,296695154816,503888,0,B,2025-10-24
4996,1953468219914212884,RFUD,SRZ5,2025-10-24,13:12:11,29781.000,2,2025-10-24 13:12:12,296695154708,271482,0,S,2025-10-24
4997,1896047324665229296,RFUD,GZZ5,2025-10-24,13:12:11,12097.000,8,2025-10-24 13:12:12,296695154691,1300980,0,S,2025-10-24
4998,1918846797778783057,RFUD,LKZ5,2025-10-24,13:12:11,58000.000,46,2025-10-24 13:12:12,296695154575,33250,0,S,2025-10-24
4999,1918846797778783056,RFUD,LKZ5,2025-10-24,13:12:11,58000.000,20,2025-10-24 13:12:12,296695154550,33250,0,S,2025-10-24

In [7]:
fo.candles()

,ticker,open,high,low,close,volume,value,begin,end
0,BMX5,66.02,66.02,66.02,66.02,1,66.0,2025-10-24 13:14:00,2025-10-24 13:14:59
1,BRX5,66.02,66.02,66.02,66.02,1,66.0,2025-10-24 13:14:00,2025-10-24 13:14:59
2,BRX5,66.02,66.02,65.99,65.99,75,4949.9,2025-10-24 13:15:00,2025-10-24 13:15:59
3,BRZ5,65.17,65.17,65.17,65.17,1,65.2,2025-10-24 13:14:00,2025-10-24 13:14:59
4,BRZ5,65.16,65.16,65.13,65.13,13,846.9,2025-10-24 13:15:00,2025-10-24 13:15:59
...,...,...,...,...,...,...,...,...,...
63,SiZ5,82545.00,82545.00,82545.00,82545.00,1,82545.0,2025-10-24 13:14:00,2025-10-24 13:14:59
64,SiZ5,82545.00,82545.00,82532.00,82540.00,91,7511158.0,2025-10-24 13:15:00,2025-10-24 13:15:59
65,USDRUBF,81.22,81.22,81.22,81.22,5,406.1,2025-10-24 13:14:00,2025-10-24 13:14:59
66,VBZ5,7023.00,7023.00,7023.00,7023.00,2,14046.0,2025-10-24 13:14:00,2025-10-24 13:14:59
67,VBZ5,7023.00,7026.00,7022.00,7026.00,54,379235.0,2025-10-24 13:15:00,2025-10-24 13:15:59